
:root {
    --azul-escuro: #1a237e;
    --amarelo: #ffeb3b;
    --branco: #ffffff;
    --cinza-claro: #f4f4f9;
}

/* Reutilize as variáveis do seu style-dash.css */
.form-section { background: var(--branco); padding: 20px; margin-bottom: 20px; border-radius: 8px; }
#formLivro { display: grid; grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)); gap: 10px; }
#formLivro input { padding: 10px; border: 1px solid #ddd; border-radius: 4px; }

.btn-add { background: var(--amarelo); border: none; padding: 10px; font-weight: bold; cursor: pointer; color: var(--azul-escuro); border-radius: 4px; }

/* Estilização Dash-board*/

:root {
    --azul-escuro: #1a237e;
    --amarelo: #ffeb3b;
    --branco: #ffffff;
    --cinza-claro: #f4f4f9;
}

body {
    font-family: 'Segoe UI', sans-serif;
    margin: 0;
    background-color: var(--cinza-claro);
}

.container {
    display: flex;
    height: 100vh;
}

/* Sidebar Azul Escuro */
.sidebar {
    width: 250px;
    background-color: var(--azul-escuro);
    color: var(--branco);
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.sidebar h2 span { color: var(--amarelo); }

nav ul { list-style: none; padding: 0; margin-top: 50px; }
nav li { padding: 15px; cursor: pointer; border-bottom: 1px solid #ffffff22; }
nav li.active { background-color: var(--amarelo); color: var(--azul-escuro); font-weight: bold; }

/* Conteúdo */
.main-content { flex: 1; padding: 30px; overflow-y: auto; }

header { display: flex; justify-content: space-between; margin-bottom: 30px; border-bottom: 2px solid var(--azul-escuro); padding-bottom: 10px; }

.stats { display: flex; gap: 20px; margin-bottom: 30px; }
.card { background: var(--branco); padding: 20px; flex: 1; border-radius: 8px; box-shadow: 0 4px 6px rgba(0,0,0,0.1); border-left: 5px solid var(--azul-escuro); }
.card.yellow { border-left-color: var(--amarelo); }

/* Tabela */
.data-table { background: var(--branco); padding: 20px; border-radius: 8px; }
table { width: 100%; border-collapse: collapse; }
th { background-color: var(--azul-escuro); color: var(--branco); padding: 12px; text-align: left; }
td { padding: 12px; border-bottom: 1px solid #ddd; }
.tag-prazo { background: var(--amarelo); padding: 5px 10px; border-radius: 4px; font-size: 0.8em; font-weight: bold; }

.btn-logout{
    background-color: var(--amarelo);
    color: var(--azul-escuro);
    font-weight: 700;
    font-size: 16px;
    border-radius: 4px;
    
}

.links{
    text-decoration: none;
}
a{
    color: var(--branco);
    text-decoration: none;
}

a:hover{
    color: var(--amarelo);
}

